<p><%=f.label :name%><br/>
<%=f.text_field :name%></p>

<p><%=f.label :category%><br/>

	<%@categories.each do |category|%>
		<p>
			<%= check_box_tag 'category_ids[]' , category.id%>
			<%= f.label category.name%>
		</p>
	<%end%>

<p><%=f.label :description%><br/>
<%=f.text_area :description%></p>

<p><%=f.label :address%><br/>
<%=f.text_field :address%></p>

<p><%=f.label :phoneNumber%><br/>
<%=f.text_field :phoneNumber%></p>

<p>Графік роботи</p>
<%=fields_for @workTime , validate: true  do |t|%>
<p><%=:monday%><br/>
<%=t.check_box :mondayWork%> <%=t.text_field :mondayStart%> : <%=t.text_field :mondayEnd%></p>

<p><%=:tuesday%><br/>
<%=t.check_box :tuesdayWork%> <%=t.text_field :tuesdayStart%> : <%=t.text_field :tuesdayEnd%></p>

<p><%=:wednesday%><br/>
<%=t.check_box :wednesdayWork%> <%=t.text_field  :wednesdayStart%> : <%=t.text_field  :wednesdayEnd%></p>

<p><%=:thursday%><br/>
<%=t.check_box  :thursdayWork%> <%=t.text_field :thursdayStart%> : <%=t.text_field  :thursdayEnd%></p>

<p><%=:friday%><br/>
<%=t.check_box :fridayWork%> <%=t.text_field   :fridayStart%> : <%=t.text_field   :fridayEnd%></p>

<p><%=:saturday%><br/>
<%=t.check_box  :saturdayWork%> <%=t.text_field   :saturdayStart%> : <%=t.text_field   :saturdayEnd%></p>

<p><%=:sunday%><br/>
<%=t.check_box   :sundayWork%> <%=t.text_field   :sundayStart%> : <%=t.text_field  :sundayEnd%></p>

<%end%>
<p><%= f.file_field :images, multiple: true %></p>

<p><%=f.submit :commit%></p>