<p><%=f.label :name%><br/>
<%=f.text_field :name%></p>

<h3>Поле для тегів</h3> 

<p><%=f.label :description%><br/>
<%=f.text_area :description%></p>

<p><%=f.label :address%><br/>
<%=f.text_field :adress%></p>

<p><%=f.label :phoneNumber%><br/>
<%=f.text_field :phoneNumber%></p>

<h3>ГОдини роботи</h3>

<h3>фоточки (можливість мульти загрузки через cariarvave)</h3>

<p><%=f.submit :commit%></p>