<h2><%=@institution.name%></h2>
Інші дані
<p>
<%@institution.category.each do |category|%>
<%=link_to category.name, category_path(category.name)%>
<%end%>
</p>
<%@institution.images.each do |foto|%>
<%=image_tag foto ,weight: 30, height: 30%>
<%end%>
<h2>Графік роботи</h2>
<p><%=:monday%> <% if @workTime.mondayWork %><%=@workTime.mondayStart%> : <%=@workTime.mondayEnd%><%else%>Вихідний<%end%></p>
<p><%=:tuesday%> <% if @workTime.tuesdayWork %><%=@workTime.tuesdayStart%> : <%=@workTime.tuesdayEnd%><%else%>Вихідний<%end%></p>
<p><%=:wednesday %> <% if @workTime.wednesdayWork %><%=@workTime.wednesdayStart%> : <%=@workTime.wednesdayEnd%><%else%>Вихідний<%end%></p>
<p><%=:thursday%> <% if @workTime.thursdayWork %><%=@workTime.thursdayStart%> : <%=@workTime.thursdayEnd%><%else%>Вихідний<%end%></p>
<p><%=:friday%> <% if @workTime.fridayWork %><%=@workTime.fridayStart%> : <%=@workTime.fridayEnd%><%else%>Вихідний<%end%></p>
<p><%=:saturday%> <% if @workTime.saturdayWork %><%=@workTime.saturdayStart%> : <%=@workTime.saturdayEnd%><%else%>Вихідний<%end%></p>
<p><%=:sunday%> <% if @workTime.sundayWork %><%=@workTime.sundayStart%> : <%=@workTime.sundayEnd%><%else%>Вихідний<%end%></p>


<%if @rating.nil? %>
<hr>
	kitchen: <%=@institution.kitchen%>
	servise: <%=@institution.servise%>
	cleannes: <%=@institution.cleannes%>
	atmosphere: <%=@institution.atmosphere%>
<hr>
	<%= form_for :rating , url:rating_institution_path(@institution.id), method: :patch do |f| %>
		<%=render 'ratings/form', f:f%>
	<%end%>
<hr>
	<%= render @ratings%>

<%else%>

	kitchen: <%=@institution.kitchen%>
	servise: <%=@institution.servise%>
	cleannes: <%=@institution.cleannes%>
	atmosphere: <%=@institution.atmosphere%>

	<%= render @ratings%>

<%end%>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment">
  	<span class="glyphicon glyphicon-plus">Новий комент</span>
</button>
<div id="comment" class="collapse">
	<%=form_for :institution_comment, url:institution_institution_comments_path(@institution.id) do |f|%>
  		<%=render "institution_comments/form", f:f%>
  	<%end%>
</div>
<% @comments.each do |comment| %>
<%= render 'institution_comments/institution_comment', comment:comment%>
<%end%>
