<div>
<hr>
<p>kitchen: <%=rating.kitchen%>
servise: <%=rating.servise%>
cleannes: <%=rating.cleannes%>
atmosphere: <%=rating.atmosphere%><p>
<p>Text: <%=rating.text%><br/>
Author: <%=rating.user.email%></p>

</div>