<hr>
<div class="panel-group">
<div class="panel panel-success">
<div class="panel-body">
<h4><%=comment.text%></h4>
<hr>
<h6>Author: <%=comment.user.email%></h6>
    <%=link_to institution_comment_positiv_path(comment.id) do%>
      <span class="glyphicon glyphicon-plus"></span>
    <%end%>
    <%=InstitutionCommentVote.where(institution_comment_id:comment.id).sum(:score)%>
    <%=link_to institution_comment_negativ_path(comment.id) do%>
      <span class="glyphicon glyphicon-minus"></span>
    <%end%>
</div>
</div>
</div>
